{% extends 'tutorial/base.html' %}


{% block content %}

   

    <div class="" style="padding-bottom: 50px;"  id="home-section">
            <div class="slide-2"  data-stellar-background-ratio="0.5">
                
                </div>

    </div>

    <div class="site-section" id="programs-section">
            <div class="container">
              <div class="row mb-5 justify-content-center">
                <div class="col-lg-7 text-center"  data-aos="fade-up" data-aos-delay="">
                  <h2 class="section-title">All Video Tutorials     </h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam repellat aut neque! Doloribus sunt non aut reiciendis, vel recusandae obcaecati hic dicta repudiandae in quas quibusdam ullam, illum sed veniam!</p>
                </div>
              </div>
              {% for object in object_list %}

            <a href="{{ object.get_absolute_url }}"> {{ object }} </a>

              <!-- <div class="row mb-5 align-items-center">
                <div class="col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="100">
                  <img src="{{ object.video_thumbnail }}" alt="Image" class="img-fluid">
                </div>
                <div class="col-lg-7 ml-auto" data-aos="fade-up" data-aos-delay="200">
                  <h2 class="text-black mb-4">{{ object.title }}</h2>
                  <p class="mb-4"> {{ object.short_description }} </p>
                    
                  <div class="d-flex align-items-center custom-icon-wrap mb-3">
                        <span class="custom-icon-inner mr-3"><span class="icon icon-graduation-cap"></span></span>
                        <div><h3 class="m-0">Premium</h3></div>
                      </div>

                  <div class="d-flex align-items-center custom-icon-wrap mb-3">
                    <a class="btn btn-primary btn-pill" href=""> Watch Video </a>
                  </div>
      
                 
      
                </div>
              </div> -->

              {% endfor %}

              


              

                
              
      
              
      
            </div>
          </div>

       
          {% endblock %}